html{
  weight: 100%;
  padding: 0;
  font-size:100%:
}

body{
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background:url("images/desk_echantillon_fond_toile.jpg");

}
/*bande du haut*/
#haut img {
  position: absolute;
  padding-left: -5px;
  margin-left: -10px;
  margin-top: -15px;
}
/*bande du bas*/
#bas img{
  position: absolute;
  bottom: -2rem;
}

/*Positionnements du portrait*/
#portrait {
    position: absolute;
    padding-top: 10%;
}

#portrait img{

  align-content: center;
  padding-left:10%;
  max-width: 75%;
}


/*navigation en haut à droite*/
/*la nav se place sous le portrait quand la largeur est réduite */


nav {
  position:relative;
  float: right;
  padding-right: 10%;
  padding-top: 10%;
}

nav li{
  display: inline;
  list-style-type: none;
  }

nav ul li a{
  color: rgba(255, 255, 255, 0.8);
  font-family: Garamond, serif;
  padding-right: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover{
  color: rgba(255, 255, 255, 1);
  font-weight: bolder;
}
nav ul li a:focus {
  color: rgba(255, 255, 255, 1);
  font-weight: bolder;
}

nav ul li a:visited {
  color: rgba(255, 255, 255, 0.1);
  font-weight: bolder;
}

/*carousel*/
#carrousel{
    position:relative;
    height:200px;
    width:700px;
    margin:auto;

}

#carrousel ul li{
    position:absolute;
    top:0;
    left:0;
}

/*texte du parcours professionnel */
#parcours {
  margin-top: 20%;
  position: relative;
  width: 70%;
  height: 40%;
  margin: 0 auto;
  background-image: url("images/fondblancefface.png");
  background-size: cover;
  font: garamond;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.5;
  padding: 2rem;
  overflow-y: scroll;
}

/*Formulaire de contact */

form {
  position: relative;
  background-image: url("images/fondblancefface.png");
  background-size: cover;
  /* pour placer dans la page  */
  margin: 0 auto;
  width: 70%;
  /*pour voir les limites du formulaire*/
  padding: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /*étiquettes aux mêmes dimensions et alignées */
  position: relative;
  display:inline-block;
  width: 30%;
  text-align: left;
  font: garamond;
  font-weight: bolder;
  color: #058674;
}

input, textarea {
  font: garamond, serif;
  /* Pour donner la même dimension à tous les champs textuels */
  width: 97%;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  /*Pour harmoniser l'apparence des bordures des champs textuels */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Afin de rehausser les éléments actifs */
  border-color: #000;
}

textarea {
  /*Pour aligner les champs multilignes et leurs étiquettes */
  vertical-align: top;
  /*Pour donner assez d'espace pour entrer le texte */
  height: 5em;
  /* Pour permettre aux utilisateurs de redimensionner un champs textuel horizontalement */
  resize: vertical;
}

.button {
  /* Pour positionner les boutons de la même manière que les champs textuels */
  padding-left: 0; /*même dimension que les étiquettes */
}

button {
  /* Cette marge représente approximativement le même espace que celui entre les étiquettes
  et les champs textuels */
  margin-left: 0;
  font: garamond;
  font-weight: bold;
  color:#058674;
}

footer {
  position: fixed;
  display:flex;
  height: 4.5em;
  bottom: 0;
  left: 0; right: 0;
  background: url(images/bande_tissu_bas.png) no-repeat;
  background-position: bottom;
  }

#mentions a{
  position:fixed;
  padding-left: 10%;
  padding-top: 4%;
  text-decoration: none;
  font-size: 1rem;
  color:#058074;
}

#liensSociaux {
  position:fixed;
  padding-left: 45%;
  padding-top: 3%;
}

#liensociaux a img{
  padding-left:9px;
}


/* adaptation aux différents formats d'écran */

@media (max-width:640){
  body {
    font-size: 1rem;
}
  #portrait img {
    align-content: center;

    }
  }

/*navigation en haut à droite*/
/*la nav se place sous le portrait quand la largeur est réduite */


nav {
  position:relative;
  padding-right: 10%;
  padding-top: 10%;
}



@media (min-width:640)
  body{
    font-size: 1rem;
}


@media (min-width:960)
  body{
    font-size: 1rem;
}

@media (max-width:1100)
  body{
    font-size: 1rem;
}
